# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDE
.idea

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Storenpm-debug.log*
yarn-debug.log*
yarn-error.log*
